{% extends 'candidatelogin.html' %}
{%load static%}
{% block title %}interviews{% endblock%}
{% block content %}
<div class="container">
    <div class="row">
            {%for interview in interviews%}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{interview.posting_photo.url}}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">{{interview.name}}</h5>
                        <p class="card-text"><b>provided by:</b>{{course.user}}</p>
                        <p class="card-text"><b>for contact:</b>{{interview.phone_number}}</p>
                        <p class="card-text"><b>description:</b><br>{{interview.about}}</p>
                        <a href="{{interview.link}}" class="btn btn-primary">Click here for more info</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>
{% endblock%}